<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>

    <%- include('partials/header') %>

    <div class="container">
        <main class="row text-center">
            <p>An error has occured.</p>
            <div>
                <% if(error !== null){ %>
                    <p><%= error.status %></p>
                    <p><%= error.stack %></p>
                <% } %>
            </div>
        </main>
    </div>

    <%- include('partials/footer') %>

  </body>
</html>

<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="wrapper">
      <!-- Sidebar Holder -->
      <%- include('partials/sidenav') %>
      <!-- Sidebar Nav Ends -->

      <!-- Page Content Holder -->
      <div id="content">
        <%- include('partials/header') %>
  
        <div class="container">
          <main class="row text-center">
            <p>An error has occured.</p>
            <div>
                <% if(error !== null){ %>
                    <p><%= error.status %></p>
                    <p><%= error.stack %></p>
                <% } %>
            </div>
          </main>
        </div>
    
        <%- include('partials/footer') %>

      </div>
      <!-- Page Content Holder Ends -->
    </div>
  </body>

  <script type="text/javascript">
    $(document).ready(function() {


      $('#sidebarCollapse').on('click', function() {
        $('#sidebar, #content').toggleClass('active');
        $('.collapse.in').toggleClass('in');
        $('a[aria-expanded=true]').attr('aria-expanded', 'false');
      });
    });
  </script>
</html>